* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy-Bold';
}

.center {
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 585px);
}

.top-rage {
  padding: 40px 0 96px 0;
}

.top-rage-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 500px;

}

.top-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 137px;
  height: 40px;
}

.logo {
  width: 35px;
  height: 40px;
}

.logo-text {
  font-size: 24px;
  line-height: 28px;
}

.logo-text2 {
  font-size: 24px;
  line-height: 28px;
  color: #F25822;
  ;
}

.top-menu {
  width: 533px;
  height: 17px;

}

.menu-list {
  display: flex;
  font-family: 'Gilroy-SemiBold';
  list-style: none;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item-link {
  font-size: 14px;
  line-height: 16px;
  color: #F25822;
  text-decoration: none;
}

.menu-item-link2 {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
}

.top-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 39px;
}

.top-text {
  padding: 0 0 31px 0;
}

.title {
  width: 522px;
  height: 222px;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin: 84px 0 17px 0;
}

.text {
  width: 466px;
  height: 48px;
  margin: 0 0 37px 0;
  font-size: 15px;
  line-height: 18px;
}

.butons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
  margin: 0 0 256px 0;
}

.start {
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  width: 140px;
  height: 50px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}

.butons-link {
  width: 140px;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  color: #AAAAAA;
}

.top-img {
  width: 544.81px;
  height: 374.84px;
  margin: 95px 0 0 0;
}

.top-brend {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top-brend-list {

  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-brend-item {
  width: 160px;
  height: 50px;
}

.features {
  display: flex;
  gap: 60px;
  background: #FFFFFF;
}

.features-item {
  box-sizing: border-box;
  margin: 140px 0 125px 0;
}

.features-item-big {
  background: #FFFFFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  margin: 100px 0 100px 0;
  padding: 40px 0 0 30px;
  width: 370px;
  height: 291px;
}

.features-icon {
  margin: 0 0 25px 0;
  width: 70px;
  height: 70px;
  background-image: url('../img/icon_1.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.features-item:nth-child(2)>div {
  background-image: url('../img/icon_2.svg');
}

.features-item:nth-child(3)>div {
  background-image: url('../img/icon_3.svg');
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 17px 0;
}

.features-txt {
  margin: 0 0 25px 0;
  font-size: 15px;
  line-height: 22px;
  color: #666666;
  width: 310px;
  height: 42px;
}

.features-link {
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
}

.advantages {
  padding: 92px 0 100px 0;
  height: 100%;
  background: #FAFAFA;
}

.advantages-title {
  margin: 0 auto 19px auto;
  font-size: 45px;
  line-height: 53px;
  color: #000000;
  text-align: center;
  width: 579px;
  height: 56px;
}

.advantages-txt {
  margin: 0 auto 55px auto;
  width: 700px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #666666;

}

.advantages-display {
  display: flex;
  gap: 25px;
}

.advantages-item {
  width: 370px;
  height: 549px;
  background: #FFFFFF;
}

.advantages-item-middle {
  background: #FFFFFF;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

.advantages-img {
  margin: 0 0 25px 0;
  width: 370px;
  height: 289px;
  background-image: url('../img/foto_1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-img-middle {
  background-image: url('../img/foto_2.png');
}

.advantages-img-right {
  background-image: url('../img/foto_3.png');
}

.advantages-item-title {
  margin: 0 auto 22px auto;
  width: 208px;
  height: 30px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.advantages-item-txt {
  margin: 0 auto 39px auto;
  width: 310px;
  height: 63px;
  font-family: 'Gilroy-Regular';
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #AAAAAA;
}

.advantages-button {
  margin: 0 120px 0 100px;
  width: 150px;
  height: 50px;
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}